<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>in.adsp.alfred.romanizer</string>
	<key>connections</key>
	<dict>
		<key>561069A0-D3B4-4476-86E5-BF10AEFDECE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41739C55-3CD1-498D-B3B2-57DBF1831528</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kosugi</string>
	<key>description</key>
	<string>romanizes Japanese Katakana/Hiragana sentence.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Romanizer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>41739C55-3CD1-498D-B3B2-57DBF1831528</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>roman</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string></string>
				<key>subtext</key>
				<string>type ひらがな or カタカナ sentence.</string>
				<key>title</key>
				<string>Romanizer</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>561069A0-D3B4-4476-86E5-BF10AEFDECE9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>41739C55-3CD1-498D-B3B2-57DBF1831528</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>561069A0-D3B4-4476-86E5-BF10AEFDECE9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
